@model OnlineShopping.Models.LoginRegisterViewModel
<section id="form">
    <!--form-->
    <div class="container">
        <div class="row">
            <div class="col-sm-4 col-sm-offset-1">
                <div class="login-form">
                    <!--login form-->
                    <h2>Login to your account</h2>
                     <form asp-controller="users" asp-action="login" method="post">
                        <input type="text" placeholder="Username" asp-for="login.Username"/>
                        <input type="password" placeholder="Password" asp-for="login.Password" />
                        <span>
                            <input type="checkbox" class="checkbox">
                            Keep me signed in
                        </span>
                        <button type="submit" class="btn btn-default">Login</button>
                    </form>
                </div><!--/login form-->
            </div>
            <div class="col-sm-1">
                <h2 class="or">OR</h2>
            </div>
            <div class="col-sm-4">
                <div class="signup-form">
                    <!--sign up form-->
                    <h2>New User Signup!</h2>
                    <form asp-controller="users" asp-action="register" method="post">
                        <input type="text" placeholder="Your Name" asp-for="register.Name"/>
                        <input type="text" placeholder="Username" asp-for="register.Username"/>
                        <input type="password" placeholder="Password" asp-for="register.Password"/>
                        <button type="submit" class="btn btn-default">Signup</button>
                    </form>
                </div><!--/sign up form-->
            </div>
        </div>
    </div>
</section><!--/form-->