@model IEnumerable<OnlineShopping.Data.Models.Category>
<h2>Category</h2>
<div class="panel-group category-products" id="accordian">
    <!--category-productsr-->
    @foreach (var item in Model)
    {
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a asp-action="ItemList" asp-controller="Home" asp-route-id="@item.Id">
                        @item.Name
                    </a>
                </h4>
            </div>
        </div>
    }
    
</div>